@import "styles/_variables";
@import "styles/_mixins";
@import "styles/button";
@import "styles/input";
@import "styles/dropdown";
@import "styles/auth";
@import "styles/phoneshape";
@import "styles/navbar";
@import "styles/home";
@import "styles/gettingstarted";
@import "styles/links";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  // color: $dark;
  background-color: $light-gray;
}

h1 {
  font-size: 32px;
  font-weight: 700;

  @include phone {
    font-size: 24px;
  }
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-weight: 400;
}

.reset-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  background-color: $light-gray;
}

.background-wrapper {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.logo {
  svg {
    width: 146px;
    height: 32px;
  }
  align-self: center;

  @include phone {
    width: 50px;

    svg {
      width: 27px;
      height: auto;
    }
  }
}

.light-text {
  color: $gray;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @include phone {
    flex-direction: column;
  }
}

.navigate-button {
  color: $purple;
  font-size: 16px;

  &:hover {
    color: $lavander;
  }
}

.red-text {
  color: $red;
}

.pointer {
  cursor: pointer;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
