.primary {
  border: none;
  width: 100%;
  padding: 11px 27px;
  color: $white;
  border-radius: 8px;
  background: $purple;
  font-size: 16px;
  cursor: pointer;

  &:active,
  &:hover {
    background: $lavander;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.secondary {
  border: 1px solid $purple;
  padding: 11px 27px;
  color: $purple;
  border-radius: 8px;
  background: $white;
  font-size: 16px;
  cursor: pointer;

  &:active,
  &:hover {
    background: $light-lavander;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.small-btn {
  display: flex;
  align-items: center;
  padding: 11px 27px;
  gap: 8px;
  background-color: transparent;
  border: none;
  color: gray;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: purple;
  }

  &:active {
    background-color: $lavander;
    color: purple;
  }
}
