.get-started-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: $light-gray;
  padding: 1rem;
  border-radius: 12px;

  p {
    text-align: center;
    width: 60%;
  }
}

.text-wrapper {
  align-self: flex-start;
  justify-self: flex-start;
  gap: 1rem;
}

.get-started-img {
  width: auto;

  @include phone {
    height: 75px;
  }
}
