.main-container {
  display: flex;
  column-gap: 2rem;
  row-gap: 0.5rem;

  @include phone {
    display: block;
  }

  @include tablet {
    display: block;
  }

  .card {
    background-color: $white;
    min-height: 700px;
    border-radius: 12px;
  }

  .card-links {
    display: grid;
    grid-template-rows: 4fr 0 0.5fr;
    gap: 0.5rem;
    width: 100%;
  }

  .card-1 {
    padding: 40px;
    @include phone {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  .card-2 {
    padding: 40px;

    @include phone {
      padding: 24px;
    }

    button {
      width: 100%;
      margin: 24px 0 16px 0;
    }
  }

  .card-3 {
    position: relative;

    @include phone {
      margin: 0 24px;
    }

    button {
      width: 20%;
      position: absolute;
      right: 0;
      margin: 1rem;
      @include phone {
        width: 100%;
        margin: 0;
      }
    }
  }
}
