.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas: "card1 card2" "card1 card3";
  column-gap: 2rem;
  row-gap: 0.5rem;

  @include phone {
    display: block;
  }

  .card {
    background-color: $white;
    padding: 40px;
  }

  .card-1 {
    grid-area: card1;
    border-radius: 12px;

    @include phone {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  .card-2 {
    grid-area: card2;
    border-radius: 12px 12px 0 0;
    button {
      width: 100%;
    }
  }

  .card-3 {
    grid-area: card3;
    border-radius: 0 0 12px 12px;

    button {
      left: 0;
    }
  }
}
