.links {
  background-color: $light-gray;
  padding: 1rem;
  border-radius: 12px;
  color: $gray;

  &__header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
