.links {
  background-color: $light-gray;
  padding: 1rem;
  border-radius: 12px;
  color: $gray;
  margin-right: 20px;

  &__header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 440px;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}
