.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 24px;
  border-radius: 12px;
  background-color: $white;
  margin: 24px;

  @include phone {
    margin: 0 0 16px 0;
  }
}

.small-button-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-margin {
  margin: 24px;

  @include phone {
    margin: 16px;
  }
}
